* {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #c0c5ce;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.picture-explanation-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 8px rgba(0,0,0,.1);
    padding: 4px;
    background-color: #a7adba;
}
#title, p {
    background-color: #a7adba;
}

#title {
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
    padding: 2px;
    margin: 4px 0px;
}

.btn-container {
    background-color: #c0c5ce;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 50px;
}

.btn-container i {
    background-color: #c0c5ce;
    font-size: 1.2em;
    transition: .3s;
}
.btn-container:hover i {
    color: #f50057;
}

.fas {
    color: #f50057;
    transition: .4s;
}

#date{
    align-self: flex-start;
    font-size: 12px;
    font-weight: bold;
}
#picture {
    align-self: center;
    width: 50%;
    height: auto;
    margin-right: 1rem;
}

#explanation {
    letter-spacing: 0px;
    line-height: 20px;
    font-size: 10px;
    background-color: #a7adba;
}
